<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <style>
        body{
            background-color: rgb(189, 245, 226);
            text-align: center;
        }
        h1{
            color:blueviolet;
            text-align: center;
        }
        label{
            font-size: 25px;
        }
        input{
            width:300px;
            height:40px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 25px;
        }
        #s2{
            background-color: rgb(73, 70, 119);
            color: aliceblue;
            margin-left: 10px;
        }
        #sign2{
            border: 2px black solid;
            width: 600px;
            margin-left: 380px;
            padding-left: 30px;
            background-color: rgb(216, 214, 214);
        }
    </style>
</head>
<body>
    <h1>LOGIN</h1>
    <div id="sign2">
   <form action="" method="post">
    <label> USERNAME</label>
    <input type="text" name="name" placeholder="Enter Name"><br>
    <label> PASSWORD</label>
    <input type="password" name="pwd" placeholder="Enter Password" maxlength="10" minlength="10"><br>

    <input id="s2" type="submit">
</div>
    
</body>
</html>